* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* Khôi phục lại cỡ chữ mặc định theo rem*/
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.main-conten {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.header .body {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;

  font-size: 1.6rem;

  letter-spacing: 0%;
  text-align: center;
  padding: 8px 21px;
}

.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
